* {
    font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    #header {
        position: relative;
        display: block;
        /*background-image: url("C:/Users/jinni/Web_Dev/resources/pattern.jpeg");*/
        background-image: url('resources/pattern.jpeg');
        background-color: #833636;
    }
    #subheader {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        font-size: small;
    }
    h1 {
        font-family: Garamond;
        font-size: 100px;
        font-weight: bold;
        color: khaki;
        text-align: center;
    }
    h2 {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    img {
        width: 150px;
        min-height: 150px;
        max-height: 300px;
        padding-top: 10px;
    }
    #brushesHeader {
        background-color: mediumspringgreen;
    }
    #framesHeader {
        background-color: lightcoral;
    }
    #paintHeader {
        background-color: skyblue;
    }
    .cost {
        font-weight: bold;
        color: blue;
    }
    /*.article {
        display: flex;
    }
    .image {
        flex-basis: 20%;
    }
    .text {
        padding-left: 20px;
    }*/
}

@media screen and (min-width: 601px) and (max-width: 3000px) {
    #header {
        position: relative;
        display: block;
        /*background-image: url("C:/Users/jinni/Web_Dev/resources/pattern.jpeg");*/
        background-image: url('resources/pattern.jpeg');
        background-color: #833636;
    }
    #subheader {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        font-size: small;
    }
    h1 {
        font-family: Garamond;
        font-size: 100px;
        font-weight: bold;
        color: khaki;
        text-align: center;
    }
    h2 {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    img {
        width: 250px;
        min-height: 200px;
        max-height: 300px;
        padding-top: 10px;
    }
    #brushesHeader {
        background-color: mediumspringgreen;
    }
    #framesHeader {
        background-color: lightcoral;
    }
    #paintHeader {
        background-color: skyblue;
    }
    .cost {
        font-weight: bold;
        color: blue;
    }
    .article {
        display: flex;
    }
    .image {
        flex-basis: 20%;
    }
    .text {
        padding-left: 20px;
    }
}